name: Build
on: [push]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1

      - name: Mac OS
        uses: actions/setup-node@master
        with:
          version: 12

      - run: npm ci
      - run: npm run package-mac
      - run: ls release-builds
